{% if include.post_variable.categories contains 'papers' %}
  <span class="badge badge-success">Publication</span>
{% endif %}
{% if include.post_variable.categories contains 'conferences' %}
  <span class="badge badge-info">Conference</span>
{% endif %}
{% if include.post_variable.categories contains 'talks' %}
  <!-- Check if you defined a custom type (like Workshop or Tutorial) -->
  {% if include.post_variable.type %}
    <span class="badge badge-danger">{{ include.post_variable.type }}</span>
  {% else %}
    <span class="badge badge-danger">Talk</span>
  {% endif %}
{% endif %}
{% if include.post_variable.categories contains 'conferences' %}
  <!-- Check if you defined a custom type (like Poster or Conference Talk) -->
  {% if include.post_variable.type %}
    <span class="badge badge-info">{{ include.post_variable.type }}</span>
  {% else %}
    <span class="badge badge-info">Conference</span>
  {% endif %}
{% endif %}
{% if include.post_variable.categories contains 'awards' %}
  <span class="badge" style="background-color: #6f42c1; color: white;">Award</span>
{% endif %}
