{% if include.post_variable.categories contains 'papers' %}
  <a href="{% link papers.md %}" class="badge badge-success-light">Publication</a>
{% endif %}
{% if include.post_variable.categories contains 'conferences' %}
  <a href="{% link conferences.md %}"  class="badge badge-warning-light">Conference</a>
{% endif %}
{% if include.post_variable.categories contains 'news' %}
  <a href="{% link news.md %}" class="badge badge-info-light">News</a>
{% endif %}
{% if include.post_variable.categories contains 'blog' %}
  <a href="{% link blog.md %}" class="badge badge-danger-light">Blog</a>
{% endif %}
