    <p class="text-secondary">
      {% if post.author %}
        <span itemprop="author">{{ post.author }}</span>
        <br>
      {% endif %}
      {% if post.journal %}
        {% if post.journal_url %}
          <a href="{{ post.journal_url }}">
        {% endif %}
        <span itemprop="journal">{{ post.journal }}</span>
        {% if post.journal_url %}
          </a>
        {% endif %}
      {% endif %}
      {% if post.conference %}
        {% if post.conference_url %}
          <a href="{{ post.conference_url }}">
        {% endif %}
        <span itemprop="journal">{{ post.conference }}</span>
        {% if post.journal_url %}
          </a>
        {% endif %}
      {% endif %}
      </p>
      <p>
      {% if post.pdf %}
        <a class="btn btn-outline-primary btn-sm" href="{{ post.pdf }}"> PDF </a>
      {% endif %}
      {% if post.slides %}
        <a class="btn btn-outline-primary btn-sm" href="{{ post.slides }}"> Slides </a>
      {% endif %}
      {% if post.poster %}
        <a class="btn btn-outline-primary btn-sm" href="{{ post.poster }}"> Poster </a>
      {% endif %}
      {% if post.video %}
        <a class="btn btn-outline-primary btn-sm" href="{{ post.video }}"> Video </a>
      {% endif %}
      {% if post.code %}
        <a class="btn btn-outline-primary btn-sm" href="{{ post.code }}"> Code </a>
      {% endif %}
    </p>
