    <p class="text-secondary">
      {% if include.post_variable.author %}
        <span itemprop="author">{{ include.post_variable.author }}</span>
        <br>
      {% endif %}
      {% if include.post_variable.journal %}
        {% if include.post_variable.journal_url %}
          <a href="{{ include.post_variable.journal_url }}">
        {% endif %}
        <span itemprop="journal">{{ include.post_variable.journal }}</span>
        {% if include.post_variable.journal_url %}
          </a>
        {% endif %}
        <br>
      {% endif %}
      {% if include.post_variable.conference %}
        {% if include.post_variable.conference_url %}
          <a href="{{ include.post_variable.conference_url }}">
        {% endif %}
        <span itemprop="journal">{{ include.post_variable.conference }}</span>
        {% if include.post_variable.conference_url %}
          </a>
        {% endif %}
        <br>
      {% endif %}
      {% if include.post_variable.location %}
        <span itemprop="location">{{ include.post_variable.location }}</span>
        <br>
      {% endif %}

      </p>
      <p>
      {% if include.post_variable.pdf %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ include.post_variable.pdf }}"> PDF </a>
      {% endif %}
      {% if include.post_variable.entry %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ include.post_variable.entry }}"> Entry </a>
      {% endif %}
      {% if include.post_variable.slides %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ include.post_variable.slides }}"> Slides </a>
      {% endif %}
      {% if include.post_variable.slides %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ include.post_variable.slides_in_russian }}"> Slides (in Russian)</a>
      {% endif %}
      {% if include.post_variable.poster %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ include.post_variable.poster }}"> Poster </a>
      {% endif %}
      {% if include.post_variable.poster %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ include.post_variable.poster_in_russian }}"> Poster (in Russian)</a>
      {% endif %}
      {% if include.post_variable.video %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ include.post_variable.video }}"> Video </a>
      {% endif %}
      {% if include.post_variable.video %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ include.post_variable.video_in_russian }}"> Video (in Russian)</a>
      {% endif %}

      {% if include.post_variable.code %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ include.post_variable.code }}"> Code </a>
      {% endif %}
    </p>
