---
layout: default
---

<header class="pt-3 mb-3">
  {{ content }}
</header>

<div id="content" class="bg-light">
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  <h2 class="h2"> Feed </h2>
  <ul class="list-unstyled m-0">
    {% assign date_format = site.minima_reboot.date_format | default: "%b %-d, %Y" %}
    {% for post in posts limit:3 %}
    <li class="py-2">
        <span class="text-secondary">{{ post.date | date: date_format }}</span>
        {% include get_badge.html post_variable=post %} 

        <h3 class="mt-1 mb-3 h3">
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
         {% include short_description.html post_variable=post %}
      </li>
    {% endfor %}
  </ul>
  <a class="btn btn-outline-primary" href="{% feed.md %}"> Show all posts </a>
</div>
