---
layout: default
---

<header class="pt-3">
  {{ content }}
</header>

<hr style="margin-top: 2rem; margin-bottom: 2rem;">
<div id="content">
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  
  <!-- Filter out unimportant news -->
  {% assign frontpage_posts = posts | where_exp: "post", "post.unimportant != true" %}
  
  <h3 class="mb-4">Latest News</h3>
  
  <!-- The Loop -->
  <ul class="list-unstyled m-0">
    {% for post in frontpage_posts limit:3 %}
      <!-- Call our master template! -->
      {% include short_description.html post_variable=post %}
    {% endfor %}
  </ul>
  
  <a class="btn btn-sm btn-outline-dark mt-2" href="{% link feed.md %}">Show all news ➔</a>
</div>
